/*

Colors
======

Defines colors for use in the application

*/
/*
 * Prevent underline on links. Used for links styled as buttons, where underline is not preferable
 */
/*
 * Ratios
 */
/*
 * Common easing for the entire website
 */
/* 1. Set background / text to theme color
 * 2. Returns the corresponding theme color
 * 3. Invert colors for active/primary - white text on black bg
 */
/**
 * Adapted from http://nicolasgallagher.com/micro-clearfix-hack/
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 29, c:\wamp\www\adminui\scss\atoms\type\_type.scss */
.sg-h1, .sg-h2, .sg-h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
}

/* line 34, c:\wamp\www\adminui\scss\atoms\type\_type.scss */
.sg-font-primary {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

/* line 39, c:\wamp\www\adminui\scss\atoms\type\_type.scss */
.sg-font-primary-condensed {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1em;
}

/* line 44, c:\wamp\www\adminui\scss\atoms\type\_type.scss */
.sg-font-secondary {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
}

/* line 49, c:\wamp\www\adminui\scss\atoms\type\_type.scss */
.sg-font-secondary-condensed {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
}

/* line 54, c:\wamp\www\adminui\scss\atoms\type\_type.scss */
.sg-font-supplementary {
  font-family: arial, sans-serif;
  font-size: 2em;
}

/* line 59, c:\wamp\www\adminui\scss\atoms\type\_type.scss */
.sg-font-supplementary {
  font-family: arial, sans-serif;
  font-size: 2em;
}

/* line 66, c:\wamp\www\adminui\scss\atoms\type\_type.scss */
.sg-anchor {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1.618em;
}

/* line 5, ../scss/styleguide.scss */
.sg-color--green {
  background: #1fae65;
}

/* line 8, ../scss/styleguide.scss */
.sg-color--green-1 {
  background: #32835a;
}

/* line 11, ../scss/styleguide.scss */
.sg-color--green-2 {
  background: #0a713d;
}

/* line 14, ../scss/styleguide.scss */
.sg-color--green-3 {
  background: #52d793;
}

/* line 17, ../scss/styleguide.scss */
.sg-color--green-4 {
  background: #76d7a5;
}

/* line 22, ../scss/styleguide.scss */
.sg-color--black {
  background: black;
}

/* line 25, ../scss/styleguide.scss */
.sg-color--black-1 {
  background: #1a1a1a;
}

/* line 28, ../scss/styleguide.scss */
.sg-color--black-2 {
  background: #333333;
}

/* line 31, ../scss/styleguide.scss */
.sg-color--black-3 {
  background: #4d4d4d;
}

/* line 34, ../scss/styleguide.scss */
.sg-color--black-4 {
  background: #666666;
}

/* line 40, ../scss/styleguide.scss */
.sg-color--white {
  background: white;
}

/* line 43, ../scss/styleguide.scss */
.sg-color--white-1 {
  background: #e6e6e6;
}

/* line 46, ../scss/styleguide.scss */
.sg-color--white-2 {
  background: #cccccc;
}

/* line 49, ../scss/styleguide.scss */
.sg-color--white-3 {
  background: #b3b3b3;
}

/* line 52, ../scss/styleguide.scss */
.sg-color--white-4 {
  background: #999999;
}

/* line 57, ../scss/styleguide.scss */
.sg-color--yellow {
  background: #ff9902;
}

/* line 60, ../scss/styleguide.scss */
.sg-color--yellow-1 {
  background: #b78335;
}

/* line 63, ../scss/styleguide.scss */
.sg-color--yellow-2 {
  background: #9a5c01;
}

/* line 66, ../scss/styleguide.scss */
.sg-color--yellow-3 {
  background: #ffa41d;
}

/* line 69, ../scss/styleguide.scss */
.sg-color--yellow-4 {
  background: #ffad32;
}

/* line 74, ../scss/styleguide.scss */
.sg-color--blue {
  background: #23709e;
}

/* line 77, ../scss/styleguide.scss */
.sg-color--blue-1 {
  background: #325d77;
}

/* line 80, ../scss/styleguide.scss */
.sg-color--blue-2 {
  background: #0c4567;
}

/* line 83, ../scss/styleguide.scss */
.sg-color--blue-3 {
  background: #56a2cf;
}

/* line 86, ../scss/styleguide.scss */
.sg-color--blue-4 {
  background: #76aecf;
}

/* line 91, ../scss/styleguide.scss */
.sg-color--grey {
  background: #666666;
}

/* line 94, ../scss/styleguide.scss */
.sg-color--grey-1 {
  background: #1a1a1a;
}

/* line 97, ../scss/styleguide.scss */
.sg-color--grey-2 {
  background: #333333;
}

/* line 100, ../scss/styleguide.scss */
.sg-color--grey-3 {
  background: #4d4d4d;
}

/* line 103, ../scss/styleguide.scss */
.sg-color--grey-4 {
  background: #666666;
}

/* line 108, ../scss/styleguide.scss */
.sg-color--red {
  background: #f85d2c;
}

/* line 111, ../scss/styleguide.scss */
.sg-color--red-1 {
  background: #ba6347;
}

/* line 114, ../scss/styleguide.scss */
.sg-color--red-2 {
  background: #a1320e;
}

/* line 117, ../scss/styleguide.scss */
.sg-color--red-3 {
  background: #fc8660;
}

/* line 120, ../scss/styleguide.scss */
.sg-color--red-4 {
  background: #fca58a;
}

/*# sourceMappingURL=styleguide.css.map */
