@import "atoms/globals";

// Styleguide specific colors

.sg-color--green {
  background: $green;
}
.sg-color--green-1 {
  background: $green-1;
}
.sg-color--green-2 {
  background: $green-2;
}
.sg-color--green-3 {
  background: $green-3;
}
.sg-color--green-4 {
  background: $green-4;
}


.sg-color--black {
  background: $black;
}
.sg-color--black-1 {
  background: $black-1;
}
.sg-color--black-2 {
  background: $black-2;
}
.sg-color--black-3 {
  background: $black-3;
}
.sg-color--black-4 {
  background: $black-4;
}



.sg-color--white {
  background: $white;
}
.sg-color--white-1 {
  background: $white-1;
}
.sg-color--white-2 {
  background: $white-2;
}
.sg-color--white-3 {
  background: $white-3;
}
.sg-color--white-4 {
  background: $white-4;
}


.sg-color--yellow {
  background: $yellow;
}
.sg-color--yellow-1 {
  background: $yellow-1;
}
.sg-color--yellow-2 {
  background: $yellow-2;
}
.sg-color--yellow-3 {
  background: $yellow-3;
}
.sg-color--yellow-4 {
  background: $yellow-4;
}


.sg-color--blue {
  background: $blue;
}
.sg-color--blue-1 {
  background: $blue-1;
}
.sg-color--blue-2 {
  background: $blue-2;
}
.sg-color--blue-3 {
  background: $blue-3;
}
.sg-color--blue-4 {
  background: $blue-4;
}


.sg-color--grey {
  background: $grey;
}
.sg-color--grey-1 {
  background: $grey-1;
}
.sg-color--grey-2 {
  background: $grey-2;
}
.sg-color--grey-3 {
  background: $grey-3;
}
.sg-color--grey-4 {
  background: $grey-4;
}


.sg-color--red {
  background: $red;
}
.sg-color--red-1 {
  background: $red-1;
}
.sg-color--red-2 {
  background: $red-2;
}
.sg-color--red-3 {
  background: $red-3;
}
.sg-color--red-4 {
  background: $red-4;
}
