// Variables
@import "../../atoms/type/type";

//////////////////////////
//Font sizes
//////////////////////////

// Modular Scale ---------------------- 12px @ 1:1.618   150px @ 1:1.618   ----------------------

$font-size-regular: 1em; //12.000px
$font-size-small: 0.697em; //8.36px
$font-size-medium: 1.618em; //19.416px
$font-size-large: 2.618em; //31.415px
$font-size-xlarge: 2.951em; //35.412px
