// Variables
@import "../../atoms/type/type";

html {font-size: 0.875em;} // Reset base font to 12px

body {
  background-color: white;
  font-family: $body-copy;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-family: $body-copy-condensed;
  font-weight: inherit;
  line-height: 1.2;
  font-weight: 900;
}

h1, .h1 {
  margin-top: 0;
  font-size: $font-size-xlarge;
}

h2, .h2 {font-size: $font-size-large;}

h3, .h3 {font-size: $font-size-medium;}

small, .text-small {font-size: $font-size-small;}
