@import "mixins";

input:not([type]), input[type="color"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"] {
   @include form-elements($form-settings);
}

label {
    display: block;
    cursor: pointer;
}

/* Form group class is used to wrap a label, text input and an error summary
*
*/
.form-group {
  margin-bottom: $global-margin;
}
