@import "variables";

@mixin form-elements($form-settings) {
  background: map-get($form-settings, background);
  border: map-get($form-settings, border);
  outline: none;
  padding: $global-padding/2 $global-padding/2;
}
