//////////////////////////
//Font definitions
//////////////////////////

$body-copy: 'Open Sans', sans-serif;
$body-copy-condensed: 'Open Sans Condensed', sans-serif;

$headings: 'Open Sans', sans-serif;
$headings-condensed: 'Open Sans Condensed', sans-serif;

$supplementary: arial, sans-serif;
