@import 'extends';

.no-bullet {
  @extend %no-bullet;
}

.horizontal-list {
  @extend %no-bullet;
  > li
  {
    @extend %horizontal-element;
  }
}

.horizontal-element {
  @extend %horizontal-element;
}

.list-group {
  @extend %no-bullet;
}

.list-group-item {
    padding: $global-padding;

    border: map-get($list-group-settings, border);
    border-bottom: 0;
    &:first-child {
      border-top: 1px solid $grey;
    }
    &:last-child {
      border-bottom: 1px solid $grey;
    }
}
