@import "../../atoms/globals";
.side-nav {
  li a:not(.button) {
    color: $white-1;
    border-left: 4px solid transparent;
      &:hover {
        color: $yellow;
        border-left: 4px solid $yellow;
    }
  }
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  margin-top: 45px;
}
