/*

Colors
======

Defines colors for use in the application

*/

//////////////////////////
//Color definitions
//////////////////////////
$green: #1fae65;

$green-1: #32835a;
$green-2: #0a713d;
$green-3: #52d793;
$green-4: #76d7a5;

$blue: #23709e;

$blue-1: #325d77;
$blue-2: #0c4567;
$blue-3: #56a2cf;
$blue-4: #76aecf;

$red: #f85d2c;

$red-1: #ba6347;
$red-2: #a1320e;
$red-3: #fc8660;
$red-4: #fca58a;

$yellow: #ff9902;

$yellow-1: #b78335;
$yellow-2: #9a5c01;
$yellow-3: #ffa41d;
$yellow-4: #ffad32;

$black: #000;

$black-1: lighten($black, 10%);
$black-2: lighten($black, 20%);
$black-3: lighten($black, 30%);
$black-4: lighten($black, 40%);

$white: #fff;
$white-1: darken($white, 10%);
$white-2: darken($white, 20%);
$white-3: darken($white, 30%);
$white-4: darken($white, 40%);

$grey: #666;

$grey-1: lighten($black, 10%);
$grey-2: lighten($black, 20%);
$grey-3: lighten($black, 30%);
$grey-4: lighten($black, 40%);

//////////////////////////
//Color variables
//////////////////////////
$primary-color: $black-1;
$secondary-color: $white-2;
$base-color: $white;

$alert-color: $red;
$info-color: $blue;
$warning-color: $yellow;
$success-color: $green;
