@import '../globals';
/*

Grids
======

Grids for this application are built using Singularity Grid System. We use a generic 12 column grid that comes with foundation for rapid prototyping.
Once the design is frozen, we refactor those into semantic grid classes.

We also have a responsive 12 column grid for laying out items in float span order. All other items are laid out using isolation span.

http://sassmeister.com/gist/f13878ea080877ed727c


*/

.sidebar {
  float: left;

  width: 150px;
  margin-right: -100%;
  margin-left: 0;

  background: #333;

  // @extend %full-height;
}

.content-wrapper {
  overflow: visible;

  height: 100%;
}


.content-area {
  float: right;
  width:         calc((((100% - (150px)) / (1))) * 1);
  margin-right: 0;
  margin-left: 0;
  padding: 1em;
  padding-top: calc(45px + 1em);
}
