@import 'variables';

/*
 1. Remove borders
 2. Always have a cursor irrespective of whether link/button/input tag
*/

@mixin btn() {

    @include no-dec;
    @include transition-effect();

    display: inline-block; // 1
    border: none;

    padding: ms(1) ms(2);

    vertical-align: top;

    cursor: pointer; //1

    font-family: $supplementary;
    font-size: 1em;
    line-height: 16px;

    text-align: center;
    text-transform: uppercase;
}

@mixin btn-sizes($button-size-variations, $size) {
  $map: map-get($button-size-variations, $size);
  .btn-#{$size} {
      @each $property, $value in $map {
        #{$property}: $value;
      }
    }
  }
