// Variables
@import "../../atoms/globals";
//////////////////
//Button Size variations
//////////////////

$button-size-variations: (
  "small": (
          font-size: 0.9em,
          line-height: 5px
            ),
  "medium": (
          font-size: 1em,
          line-height: 20px
            ),
  "large": (
          font-size: 1.2em,
          line-height: 25px
            ),
  "expand": (
          width: 100%,
          line-height: 25px
            )
)
